.title {
    display: flex;

    align-self: center;
    justify-content: center;

    margin-top: 2%;

    color: rgb(0, 255, 200);
    font-size: 8vh;
    text-align: center;
    font-weight: bolder;
}

.announcement {
    display: flex;
    flex-wrap: wrap-reverse;
    padding-top: 1%;
    justify-content: center;
    align-items: center;
}


.announcement .gamemode {
    height: max-content;
    width: auto;
    padding-left: 5%;
    font-size: x-large;
    color: rgb(0, 255, 187);
    max-width: 100%;
}

.announcement .gamemode #options {
    background-color: black;
    color: rgb(255, 255, 255);
}


.announcement #replay-button {
    background-color: rgb(36, 57, 43);
    border-radius: 20%;

    width: 12%;
    min-width: 10%;
    color: #FFFFFF;
    font-size: x-large;
    font-weight: bold;
}

.announcement #winner {
    color: #00FF00;
    padding-left: 5%;
}

.announcement #current-player {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255)
}


.grid-container {
    text-align: center;
    font-size: 12vh;
    font-weight: bolder;

    height: 65vh;
    max-height: max-content;
    margin: 4%;
    padding-left: 20%;
    padding-right: 20%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-container .column {
    border-radius: 2vw;

    margin: 1%;
    color: rgb(71, 52, 52);
    background-color: rgb(111, 152, 184);
    align-content: center;
}